#section3{
  display: flex;
  flex-direction: column;
  align-items: center;
    width: 100%;
    padding:2.5rem 0;
  }
  .section3-h1{
    color: #fff;
    text-align: center;
    margin: 1rem 0;
  }
  
  .card_category {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  
  }
  .card_category button{
        border: 2px solid greenyellow;
        background-color: rgb(0,0,0,0.4);
        color: #fff;
         margin: 2rem;
         height: 2rem;
         padding: 0.2rem 1rem;
         border-radius: 3px;
         cursor: pointer;

  }
  .card_category button:hover{
      color: #fff;
      background-color: rgb(0,0,0,0.1);
  }
  
  .card_container{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    grid-gap: 1rem;
    place-items: center;
  }

.cards{
    width: 18rem;
    height: 15rem;
    margin: 2rem 3rem;
}

.card-components{
     display: flex;
     justify-content: center;
     align-items: center;
     background:#282828;
     border-radius: 0.6rem;
     /* width: 18rem; */
     height: 12rem;

    
}
.card-img{
    width: 14rem;
    height: 9rem;
    background: #fff;
    cursor: pointer;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.cards h1{
    color: #fff;
    letter-spacing: 2px;
    font-size: 0.9rem;
}
.cards p{
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.cards a button{
        width: 6rem;
        height:1.8rem;
        background-color: rgba(0,0,0,0.3);
        border: 1px solid greenyellow;
        color: #fff;
        letter-spacing: 2px;
        margin: 1rem;
        cursor: pointer;
}
.cards a button:hover{
  background-color: rgba(0,0,0,0.11);
}
.load-more{
    width: 8rem;
    margin-top: 3rem ;
    cursor: pointer;
    height: 2.5rem;
    letter-spacing:2px;
    text-align: center;
  }



  /* ----------------------------media-query---------------------------- */

  @media  screen and (max-width:585px) {
    
    .card_category button{
      width: 6.3rem;
      margin: 1rem;
      font-size: 0.7rem;
    }
}
@media  screen and (max-width:450px) {
    .cards{
        width: 16rem;
    }

    .card-components{
        width: 16rem;
    }
    
.card_category{
  box-sizing: border-box;
  padding: 0 1.5rem;
}
    .card_category button{
      width: 5.4rem;
      margin: 1rem ;
      font-size: 0.7rem;
    }
}