#section2{
    width: 100%;
    padding: 3rem 0rem;
}

.sec2-h1{
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    position: relative;
}
.sec2-h1::after{
        content: '';
        width:8%;
        height:2px;
        background:greenyellow;
        position: absolute;
        left: 46%;
        bottom: -1px;

}
.col{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    padding: 4rem 0rem;


}
.row1{
    width: 14rem;
    height: 11rem;
    margin: 3rem 2rem;
    
    cursor: pointer;
    perspective: 1000px;
    transition: all 0.5s ease;

}
.inner-box{
    position: relative;
    box-shadow: -6px -3px 12px rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;

}
 .card-front,.card-back{
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;

}
.card-front{
    background-color: rgb(119, 119, 119);
    color: #fff;
}

.skill-logo{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;


}
.card-back{
    background-color: rgba(0, 0, 0,0.2);
    transform: rotateX(180deg);
    color: black;
}
.card-back ul li{
    border:1px solid greenyellow;
    margin:1px;
    border-radius: 2px;
    padding: 0 1rem;
    font-weight: 500;
    color: #fff;

}
.row1:hover .inner-box{
    transform: rotateX(-180deg);
}
.row1 h1{
    text-align: center;
    margin:1rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
}
.row1 ul{
    padding: 2rem;
    list-style: none;
}




